#gameover {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#gameover h2, #gameover p {
    margin-bottom: 1rem;
}

#gameover p {
    color: rgb(22, 4, 123);
    font-size: 1.25rem;
}

#gameover img {
    margin: 2rem;
    height: 200px;
}