.option {
    background-color: #a669c3;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: .8;
    transition: .4s;
}

.option:hover {
    opacity: 1;
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #0bfc03;
    font-weight: bold;
}

.wrong {
    background-color: rgb(214, 14, 14);
    opacity: .4;
}

.hide {
    display: none;
}

