#category {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

#category h1 {
    margin-bottom: 1rem;
}

#category h2, category p {
    margin-bottom: 2rem;
}

#category h2 {
    margin-bottom: 1rem;
}

.informacoes ul {
    list-style: none;
}

.informacoes {
    margin-bottom: 1.5rem;
}

.informacoes-itens {
    color: rgb(22, 4, 123);
    margin-bottom: 0.5rem;
}

.informacoes-itens span {
    color: yellow;
}

.topicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#category button {
    margin: 1rem;
}

@media (max-width: 900px) {
    .topicos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 610px) {
    .topicos {
        grid-template-columns: 1fr;
    }
}
