#welcome {
    max-width: 500px;
    text-align: center;
}

#welcome h1 {
    margin-bottom: 2rem;
}

#welcome h2, #welcome p {
    margin-bottom: 1rem;
}

#welcome p {
    color: #8435de;
}

#welcome button {
    margin-top: 1rem;
}

#welcome img {
    margin-top: 2rem;
}